name: NPM Install, Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    # At 06:15 on Monday.
    - cron: "15 6 * * 1"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Use Node.js 15
      uses: actions/setup-node@v2.4.0
      with:
        node-version: 15

    - run: npm install
    - run: BASE_PATH='/wikidata-wikibase-team/' npm run build

    - name: Vuepress deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.CR_PAT }}
        BUILD_SCRIPT: echo "Already built"
        BUILD_DIR: .vuepress/dist/
