name: Refresh data

on:
  workflow_dispatch:
  schedule:
    # At 06:00 on Monday.
    - cron: "0 6 * * 1"

jobs:
  refresh-data:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 15
      uses: actions/setup-node@v3
      with:
        node-version: 15
    - run: npm ci
    - run: npm run refresh-data
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    - uses: EndBug/add-and-commit@v7
      with:
        default_author: github_actions
        message: 'Refresh data'