name: NPM Install, Test & Build

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 15
      uses: actions/setup-node@v2.5.1
      with:
        node-version: 15
    - run: npm install
    - run: npm test

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 15
      uses: actions/setup-node@v2.5.1
      with:
        node-version: 15
    - run: npm install
    - run: BASE_PATH='/wikidata-wikibase-team/' npm run build